
#boot-over .navbar navbar-expand-lg navbar-light bg-dark{
    background-color: darkblue;
}

#boot-over .jumbotron {
    background-color: lightblue;
    border-radius: 0;
}

#boot-over img {
    width: 100%;
    height: auto;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
.nav-link{
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
.nav-link:hover{
    color:white;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
        
}

.navbar-light .navbar-nav .nav-link:hover {
    color:white;
        
}